<form class="form">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-link"></i>
                </div>
                <input class="form-control"
                       type="text" name="problem" ng-model="problem.link"
                       placeholder="Enter problem link"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i>
                </div>
                <input class="form-control"
                       type="text" name="category" ng-model="problem.category"
                       placeholder="Enter category"/>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="form-control" ng-click="addProblem(problem)">
                <i class="glyphicon glyphicon-plus"></i>
                Add
            </button>
        </div>
    </div>
</form>

