<div class="container">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-brand">
                Add New Problem
            </div>
            <add-problems class="navbar-left"></add-problems>
            <search-problem class="navbar-right"></search-problem>
        </div>
    </div>

    <div class="list-area">

        <!- category list>
        <div class="col-sm-3">
            <div class="list-title">Categories</div>
            <ul class="nav nav-pills nav-stacked category-menu">
                <li ng-class="{ active: !selectedCat }">
                    <a href="#" target="_self" ng-click="setCategory(null)">All Problems</a>
                </li>
                <li ng-repeat="cat in categories" ng-class="{ active: selectedCat == cat }">
                    <a href="#" target="_self" ng-click="setCategory(cat)">{{cat}}</a>
                </li>
            </ul>
        </div>

        <!- category list>
        <div class="col-sm-9">
            <div class="list-title">Problems</div>
            <div class="navbar navbar-inverse">
                <div class="container-fluid">
                    <button class="navbar-btn btn btn-default" ng-click="loadProblems();">
                        <i class="glyphicon glyphicon-refresh"></i> Refresh
                    </button>
                    <search-problem class="navbar-right"></search-problem>
                </div>
            </div>
            <table class="table table-responsive table-bordered problem-list">
                <tr>
                    <th>
                        Problem
                    </th>
                    <th width="20%">
                        Category
                    </th>
                    <th width="100px">
                        Action
                    </th>
                </tr>
                <tr ng-repeat="prob in problems" class="problem">
                    <td ng-show="canShow(prob)">
                        <a class="link" target="_blank" href="{{prob.link||'#'}}">
                            <i class="glyphicon glyphicon-export"></i> {{prob.name || prob.link}}
                        </a>
                    </td>
                    <td ng-show="canShow(prob)">
                        {{prob.category}}
                    </td>
                    <td ng-show="canShow(prob)">
                        <button class="btn btn-default" ng-click="deleteProblem(prob)">
                            <i class="glyphicon glyphicon-remove"></i> Remove
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
