<section class="container">

    <!-- list of problems-->
    <div class="col-xs-12">
        <table class="table table-responsive table-bordered problem-list">
            <thead>
            <tr>
                <th ng-click="sortBy('name');">
                    <i class="glyphicon glyphicon-sort" ng-show="sortedBy=='name'"></i>
                    Problem
                </th>
                <th width="20%" ng-click="sortBy('category');">
                    <i class="glyphicon glyphicon-sort" ng-show="sortedBy=='category'"></i>
                    Category
                </th>
                <th width="100px">
                    Action
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="prob in problems" class="problem">
                <td ng-show="canShow(prob)">
                    <a class="link" target="_blank" href="{{prob.link||'#'}}">
                        <i class="glyphicon glyphicon-export"></i> {{prob.name || prob.link}}
                    </a>
                </td>
                <td ng-show="canShow(prob)">
                    {{prob.category}}
                </td>
                <td ng-show="canShow(prob)">
                    <button class="btn btn-danger" id="delete-{{prob.uuid}}" ng-click="deleteProblem(prob)">
                        <i class="glyphicon glyphicon-remove"></i> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- list of problems-->

</section>