<div class="container">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-brand">
                Add New Problem
            </div>
            <add-problems class="navbar-left"></add-problems>
            <search-problem class="navbar-right"></search-problem>
        </div>
    </div>

    <div class="list-area">

        <!- category list>
        <div class="col-sm-9">
            <div class="list-title">Problems</div>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Link
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                <tr ng-repeat="prob in problems">
                    <td>
                        {{prob.link}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-export"></i> Visit
                            </button>
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <!- category list>
        <div class="col-sm-3">
            <div class="list-title">Categories</div>
            <ul ng-repeat="cat in category">
                <li><a href="{{cat.link || '#'}}">{{cat.name}}</a></li>
            </ul>
        </div>

    </div>
</div>
