<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-brand">
            {{config.title}}
        </div>
        <div class="navbar-text">
            {{config.description}}
        </div>
        <div class="navbar-right">
            <login-form ng-show="!loggedIn"></login-form>
            <div class="navbar-text" ng-show="loggedIn">
                <img src="{{client.picture}}" alt="user" height="24px" ng-show="client.picture"/>
                <i class="glyphicon glyphicon-user" ng-show="!client.picture"></i>
                <strong>{{client.name || client.username}}</strong>
            </div>
        </div>
    </div>
</div>