<section id="navbar">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#mainbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Problems To Solve</div>
            </div>

            <div class="navbar-text navbar-collapse collapse">
                Manage your list of problems to solve
            </div>

            <div class="navbar-collapse collapse" id="mainbar-collapse">
                <!-- user profile -->
                <div class=" navbar-right">
                    <div class="navbar-text" ng-show="loggedIn">
                        <img src="{{client.picture}}" alt="user" height="24px" ng-show="client.picture"/>
                        <i class="glyphicon glyphicon-user" ng-show="!client.picture"></i>
                        <strong>{{client.name || client.username || "[unknown]"}}</strong>
                    </div>
                    <button class="btn btn-primary navbar-btn" ng-show="loggedIn" ng-click="doLogout();">
                        <i class="glyphicon glyphicon-log-out"></i> Logout
                    </button>
                </div>
                <!-- user profile -->

            </div>
        </div>
    </nav>
</section>
