<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-brand">
            {{config.title}}
        </div>
        <div class="navbar-text">
            {{config.description}}
        </div>
        <div class="navbar-right">
            <login-form ng-show="!loggedIn"></login-form>
            <div class="navbar-text" ng-show="loggedIn">
                Logged in as <strong>{{client.name || client.username}}</strong>
            </div>
        </div>
    </div>
</div>