<form class="form-inline navbar-form" ng-submit="">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </div>
        <input class="form-control"
               type="text" ng-model="filterText"
               placeholder="Search Problems" />
    </div>
    <div class="form-group">
        <input type="submit" class="hidden" value="Search"/>
        <button class="btn form-control" ng-click="clearFilter()">Clear</button>
    </div>
</form>

