<form class="form" ng-show="!loggedIn">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <input class="form-control"
               type="text" ng-model="client.username"
               placeholder="Username"/>
    </div>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
        </div>
        <input class="form-control"
               type="password" ng-model="client.password"
               placeholder="Password"/>
    </div>
    <button class="form-control btn-primary" ng-click="doLogin(client)">
        <i class="glyphicon glyphicon-log-in"></i> Login
    </button>
</form>